@{
    ViewData["Title"] = "Home Page";
    Layout = "_Public";
}

<!-- Header Layout Content -->
<div class="mdk-header-layout__content page-content ">
    <div class="mdk-box mdk-box--bg-white-35 bg-white js-mdk-box mb-0"
         data-effects="parallax-background blend-background">
        <div class="mdk-box__bg">
            <div class="mdk-box__bg-front"
                 style="background-image: url(../images/photodune-4161018-group-of-students-m.jpg);"></div>
        </div>
        <div class="mdk-box__content d-flex align-items-center justify-content-center container page__container text-center py-112pt"
             style="min-height: 656px;">
            <div class="card card--transparent mb-0">
                <div class="card-body px-32pt py-24pt">
                    <h1>Asesorías en Línea</h1>
                    <p class="lead measure-lead mx-auto mb-32pt">Busca el tema, selecciona el profesor y lleva la asesoría que necesitas.</p>

                    <a href="signup.html"
                       class="btn btn-lg btn-kurz btn--raised mb-16pt">Registrarse - Sin Costo</a>

                    <p class="mb-0"><a href=""><strong>¿Deseas impatir asesorías?</strong></a></p>

                </div>
            </div>
        </div>
    </div>

    <div class="page-section border-bottom-2 bg-white">
        <div class="container page__container">
            <div class="page-headline text-center">
                 <h2>KURZ</h2>
                 <p class="lead measure-lead mx-auto text-70">Es la plataforma en la que puedes tener una asesoría en cualquier tema que necesites. Te puedes registrar sin ningún costo, solo pagas cuando se confirma la asesoría.</p>
            </div>

            <div class="row align-items-center">
                <div class="d-flex col-md align-items-center border-bottom border-md-0 mb-16pt pb-16pt pb-md-0">
                    <div class="rounded-circle bg-secondary w-64 h-64 d-inline-flex align-items-center justify-content-center mr-16pt">
                        <i class="material-icons text-white">subscriptions</i>
                    </div>
                    <div class="flex">
                        <div class="card-title mb-4pt">+ Temas</div>
                        <p class="card-subtitle text-70">Explora una gran cantidad de temas en los que puedes recibir asesorías.</p>
                    </div>
                </div>
                <div class="d-flex col-md align-items-center border-bottom border-md-0 mb-16pt pb-16pt pb-md-0">
                    <div class="rounded-circle bg-secondary w-64 h-64 d-inline-flex align-items-center justify-content-center mr-16pt">
                        <i class="material-icons text-white">people</i>
                    </div>
                    <div class="flex">
                        <div class="card-title mb-4pt">Profesores</div>
                        <p class="card-subtitle text-70">Diferentes profesores para cada tema.</p>
                    </div>
                </div>
                <div class="d-flex col-md align-items-center border-bottom border-md-0 mb-16pt pb-16pt pb-md-0">
                    <div class="rounded-circle bg-secondary w-64 h-64 d-inline-flex align-items-center justify-content-center mr-16pt">
                        <i class="material-icons text-white">personal_video</i>
                    </div>
                    <div class="flex">
                        <div class="card-title mb-4pt">Asesoría Personalizada</div>
                        <p class="card-subtitle text-70">Asesorías personalizadas con el profesor</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- // END Header Layout Content -->
