@{
    ViewData["Title"] = "Acceso Denegado";
    Layout = "_Public";
}

<div class="page-section border-bottom-2 bg-white">
    <div class="container page__container">
        <div class="page-headline text-center">
            <h2>Acceso Denegado</h2>
            <p class="lead measure-lead mx-auto text-70">M</p>
        </div>
    </div>
</div>
