@model KURZ.Entities.Users;
@{
    ViewData["Title"] = "Restablecer la contraseña";
    Layout = "_Authentication";
}
<form asp-action="ForgotPassword" novalidate>
    <div class="form-group">
        <label class="text-label"
               for="email">Correo Electrónico:</label>
        <div class="input-group input-group-merge">
            <input asp-for="EMAIL" type="email" id="emailLogin" class="form-control form-control-prepended" placeholder="ejemplo@kurz.com">
            <span asp-validation-for="EMAIL" style="color:red"></span>
        </div>
    </div>
    <div class="form-group text-center">
        <button class="btn btn-block btn-primary mb-2"
                type="submit">
            Reestablecer Contraseña
        </button>
    </div>
    @{
        if (@ViewBag.mensaje == "SUCCESS")
        {
            @Html.Raw("<script> $(document).ready(function() {\r\n         alertaCorreoReestablecer();\r\n      });       </script>")
            ;

        }
    }

    @{
        if (@ViewBag.mensaje == "ERRORUSER")
        {
            @Html.Raw("<script> $(document).ready(function() {\r\n         alertaErrorUser();\r\n      });       </script>")
            ;

        }
    }

</form>

<script>
    function alertaCorreoReestablecer() {
        Swal.fire({
            position: 'top-center',
            icon: 'success',
            title: 'Correo enviado',
            text: 'Correo para reestabler contraseña a sido enviado a su correo.',
            timer: 3000,
            showConfirmButton: true
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = '/Authentication/Login';
            }
        });
        setTimeout(() => {
            window.location.href = '/Authentication/Login';
        }, 3000);
    }

    function alertaErrorUser() {
        Swal.fire({
            position: 'top-center',
            icon: 'error',
            title: 'Cuenta no encontrada',
            text: 'No existe una cuenta registrada con el correo electronico indicado',
            showConfirmButton: true
        })   
    }

</script>