@{
    ViewData["Title"] = "Restablecer la contraseña";
    Layout = "_Authentication";
}
<form novalidate>
    <div class="form-group">
        <label class="text-label"
               for="email_2">Correo Electrónico:</label>
        <div class="input-group input-group-merge">
            <input id="email_2"
                   type="email"
                   required=""
                   class="form-control form-control-prepended"
                   placeholder="ejemplo@kurz.com">
        </div>
    </div>
    <div class="form-group text-center">
        <a asp-controller="Authentication" asp-action="Login">Iniciar Sesión</a>
    </div>
</form>