@model KURZ.Entities.Users;
@{
    ViewData["Title"] = "Confirmación de cambio de contraseña";
    Layout = "_Authentication";
}
<p>Se ha a enviado un enlace para reestablecer la contraseña, revisar su bandeja de entrada</p>