*.swp
*.*~
/KURZ/project.lock.json
/KURZ/.DS_Store
*.pyc
/KURZ/nupkg/

# Visual Studio Code
/KURZ/.vscode/

# Rider
/KURZ/.idea/

# Visual Studio
/KURZ/.vs/

# Fleet
/KURZ/.fleet/

# Code Rush
/KURZ/.cr/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
/KURZ/[Dd]ebug/
/KURZ/[Dd]ebugPublic/
/KURZ/[Rr]elease/
/KURZ/[Rr]eleases/
/KURZ/x64/
/KURZ/x86/
/KURZ/build/
/KURZ/bld/
/KURZ/[Bb]in/
/KURZ/[Oo]bj/
/KURZ/[Oo]ut/
/KURZ/msbuild.log
/KURZ/msbuild.err
/KURZ/msbuild.wrn