@{
    ViewData["Title"] = "Eliminar Cuenta";
    Layout = "_TeacherH";
}
<div class="col-md-12 p-0">
    <form asp-action="DeleteAccount">
        <p>Realmente desea eliminar su cuenta. Si procede con esto se eliminaran todos sus datos e historial.</p>
        <div class="form-group">
            <a class="btn btn-accent"
               asp-controller="Teacher" asp-action="MyAccount">

                <span class="sidebar-menu-text">Cancelar</span>
            </a>

            <button type="submit"
                    class="btn btn-primary">
                Confirmar
            </button>

        </div>
    </form>
</div>
