@model KURZ.Entities.UserDetails
@{
    ViewData["Title"] = "Editar Perfil";
    Layout = "_TeacherH";
}
<div class="col-md-7 p-0">
    @if (Model.ProfilePicture != null)
    {
        @*<img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.ProfilePicture)" alt="Imagen del Usuario" />*@
    }
    else
    {
        <p>La imagen no pudo ser encontrada.</p>
    }
    <form asp-action="Edit" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="form-group">
            <label class="form-label">Foto</label>
            <div class="media align-items-center">
                <a href=""
                   class="media-left mr-16pt">
                    @if (Model.ProfilePicture != null)
                    {
                        <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.ProfilePicture)"
                         alt="people"
                         id="profilePicturePreview"
                         width="70"
                         height="70"
                         class="rounded-circle" />
                    }
                </a>

                <div class="media-body">
                    <div class="custom-file">
                        <input type="file"
                               title="Seleccionar archivo"
                               asp-for="ProfilePicture"
                               class="custom-file-input"
                               name="newProfilePicture"
                               id="newProfilePicture"
                               onchange="previewImage(event)">
                        <label class="custom-file-label"
                               asp-for="ProfilePicture">Elegir Foto</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <input asp-for="PHOTO" class="form-control" hidden />
            <label asp-for="IDENTICATION" class="form-label">Identificación:</label>
            <input asp-for="IDENTICATION" class="form-control" />
            <span asp-validation-for="IDENTICATION" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="NAME" class="form-label">Nombre:</label>
            <input asp-for="NAME" class="form-control" />
            <span asp-validation-for="NAME" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="LASTNAME" class="control-label">Apellidos:</label>
            <input asp-for="LASTNAME" class="form-control" />
            <span asp-validation-for="LASTNAME" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="EMAIL" class="form-label">Correo electrónico</label>
            <input asp-for="EMAIL" class="form-control" />
            <span asp-validation-for="EMAIL" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PROFILE" class="control-label">Perfil</label>
            <input rows="5" asp-for="PROFILE" class="form-control" />
            <span asp-validation-for="PROFILE" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="form-label" asp-for="ID_COUNTRY"></label>
            <select class="form-control" asp-for="ID_COUNTRY">
                @foreach (var countries in ViewBag.countries)
                {
                    <option value="@countries.ID_COUNTRY"> @countries.NAME</option>
                }
            </select>
        </div>
        <button type="submit"
                class="btn btn-primary">
            Guardar Cambios
        </button>
    </form>
</div>

<script>
    function previewImage(event) {
        var input = event.target;
        var reader = new FileReader();

        reader.onload = function () {
            var img = document.getElementById('profilePicturePreview');
            img.src = reader.result;
        };

        reader.readAsDataURL(input.files[0]);
    }

</script>