@{
    ViewData["Title"] = "Editar Cuenta";
    Layout = "_TeacherH";
}
<div class="col-md-7 p-0">
    <div class="form-group">
        <label class="form-label">Usuario</label>
        <input type="text"
               class="form-control"
               value="profesor_juan_perez" readonly>
    </div>
    <div class="form-group">
        <label class="form-label">Identificación</label>
        <input type="text"
               class="form-control"
               value="302220444">
    </div>
    <div class="form-group">
        <label class="form-label">Correo electrónico</label>
        <input type="email"
               class="form-control"
               value="profesorjuanperez@gmail.com">
    </div>
    <div class="form-group">
        <label class="form-label">Cuenta Bancaria</label>
        <input type="text"
               class="form-control"
               value="10020030012345">
    </div>
    <div class="form-group">
        <label class="form-label">Contraseña</label>
        <input type="password"
               class="form-control"
               placeholder="*****">
        <small class="form-text text-muted">Dejar en blanco para no cambiarla</small>
    </div>
    

    <button type="submit"
            class="btn btn-primary">
        Guardar Cambios
    </button>
</div>
