@{
    ViewData["Title"] = "Perfil";
    Layout = "_Teacher";
}
<div class="page-section bg-secondary">
    <div class="container page__container d-flex flex-column flex-md-row align-items-center text-center text-md-left">
        <img src="~/images/guy-3.jpg" class="mr-md-32pt mb-32pt mb-md-0 rounded-circle border-3"
             alt="instructor" />
        <div class="flex mb-32pt mb-md-0">
            <h2 class="text-white mb-0">Profesor Perez Vargas</h2>
            <div class="rating mb-16pt d-inline-flex">
                <div class="rating__item"><i class="material-icons">star</i></div>
                <div class="rating__item"><i class="material-icons">star</i></div>
                <div class="rating__item"><i class="material-icons">star</i></div>
                <div class="rating__item"><i class="material-icons">star</i></div>
                <div class="rating__item"><i class="material-icons">star_border</i></div>
                <span class="ml-1 text-white">4,3</span>
            </div>

        </div>
        <a asp-controller="Teacher" asp-action="Edit"
           class="btn btn-outline-white">Editar</a>
    </div>
</div>

<div class="page-section bg-white border-bottom-2">
    <div class="container page__container">
        <div class="row">
            <div class="col-md-12">
                <h4>Perfil</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce cursus dui justo, ut pulvinar ante malesuada ut. Proin tortor lectus, tempor eget urna in, malesuada molestie metus. Cras nisl tellus, scelerisque eget neque a, finibus luctus eros. Donec vitae auctor ex. Maecenas arcu lectus, feugiat eget metus nec, posuere porta nunc. Aliquam vel auctor ante. Nullam tincidunt sit amet metus quis fringilla. Phasellus placerat, tellus ac ultricies volutpat, nulla purus aliquet sapien, in bibendum nisl justo in libero. Maecenas bibendum dolor ut fringilla fermentum.</p>
            </div>
        </div>
    </div>
</div>

<div class="container page__container page-section">

    <div class="page-headline text-center">
        <h2>Temas descatados</h2>
    </div>

    <div class="row card-group-row mb-8pt">

        <div class="col-sm-6 card-group-row__col">
            <div class="card card-sm card-group-row__card">
                <div class="card-body d-flex align-items-center">
                    <div class="flex">
                        <a class="card-title mb-4pt"
                           href="course.html">Funciones Cuádraticas</a>
                        <div class="d-flex align-items-center">
                            <div class="rating mr-8pt">

                                <span class="rating__item"><span class="material-icons">star</span></span>

                                <span class="rating__item"><span class="material-icons">star</span></span>

                                <span class="rating__item"><span class="material-icons">star</span></span>

                                <span class="rating__item"><span class="material-icons">star_border</span></span>

                                <span class="rating__item"><span class="material-icons">star_border</span></span>
                            </div>
                            <small class="text-muted">3/5</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 card-group-row__col">
            <div class="card card-sm card-group-row__card">
                <div class="card-body d-flex align-items-center">
                    <div class="flex">
                        <a class="card-title mb-4pt"
                           href="course.html">Funcionales Lineales</a>
                        <div class="d-flex align-items-center">
                            <div class="rating mr-8pt">

                                <span class="rating__item"><span class="material-icons">star</span></span>

                                <span class="rating__item"><span class="material-icons">star</span></span>

                                <span class="rating__item"><span class="material-icons">star</span></span>

                                <span class="rating__item"><span class="material-icons">star</span></span>

                                <span class="rating__item"><span class="material-icons">star_border</span></span>

                            </div>
                            <small class="text-muted">4/5</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 card-group-row__col">
            <div class="card card-sm card-group-row__card">
                <div class="card-body d-flex align-items-center">
                    <div class="flex">
                        <a class="card-title mb-4pt"
                           href="">Funciones Trigonometricas</a>
                        <div class="d-flex align-items-center">
                            <div class="rating mr-8pt">

                                <span class="rating__item"><span class="material-icons">star</span></span>

                                <span class="rating__item"><span class="material-icons">star</span></span>

                                <span class="rating__item"><span class="material-icons">star</span></span>

                                <span class="rating__item"><span class="material-icons">star</span></span>

                                <span class="rating__item"><span class="material-icons">star</span></span>

                            </div>
                            <small class="text-muted">5/5</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 card-group-row__col">
            <div class="card card-sm card-group-row__card">
                <div class="card-body d-flex align-items-center">
                    <div class="flex">
                        <a class="card-title mb-4pt"
                           href="course.html">Límites</a>
                        <div class="d-flex align-items-center">
                            <div class="rating mr-8pt">

                                <span class="rating__item"><span class="material-icons">star</span></span>

                                <span class="rating__item"><span class="material-icons">star</span></span>

                                <span class="rating__item"><span class="material-icons">star</span></span>

                                <span class="rating__item"><span class="material-icons">star</span></span>

                                <span class="rating__item"><span class="material-icons">star</span></span>

                            </div>
                            <small class="text-muted">5/5</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>