@model KURZ.Entities.Users
@{
    ViewData["Title"] = "Eliminar Cuenta";
    Layout = null;
}
@if (Model == null)
{
    @switch (Convert.ToInt32(ViewData["Error"]))
    {
        case 1:
            <h3>Identicador no es valido o no se encontro</h3>
            break;
        case 2:
            <h3>El usuario que busca no fue encontrado</h3>
            break;
    }
}
else
{
    <div class="page-separator">
        <div class="page-separator__text">@Model.NAME @Model.LASTNAME</div>
    </div>
    <div class="card js-overlay card-sm overlay--primary-dodger-blue stack stack--1">
        <div class="card-body d-flex flex-column">
            <form asp-action="DeleteAccount" class="align-items-center">
                <div asp-validation-summary="ModelOnly"></div>

                <input asp-for="ID_USER" type="hidden" class="form-control" readonly />

                <div class="flex"
                     style="max-width: 100%">
                    <div class="d-flex align-items-center">
                        <p>Desea realmente eliminar la cuenta de: <strong>@Model.NAME @Model.LASTNAME</strong></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
}