@{
    ViewData["Title"] = "Eliminar Cuenta";
    Layout = "_StudentH";
}
<div class="col-md-12 p-0">
    <p>Realmente desea eliminar su cuenta. Si procede con esto se eliminaran todos sus datos e historial.</p>
    <div class="form-group">
        <button type="submit"
                class="btn btn-primary">
            Confirmar
        </button>
        <button type="submit"
                class="btn btn-accent">
            Cancelar
        </button>
    </div>
</div>
