@model KURZ.Entities.Users
{
    ViewData["Title"] = "Perfil";
    Layout = "_Student";
}
<div class="page-section bg-secondary">
    <div class="container page__container d-flex flex-column flex-md-row align-items-center text-center text-md-left">
        <img src="~/images/woman-6.jpg" class="mr-md-32pt mb-32pt mb-md-0 rounded-circle border-3"
             alt="instructor" />
        <div class="flex mb-32pt mb-md-0">
            <h2 class="text-white mb-0">Estudiante @ViewData["nombreUsuario"]</h2>
            <div class="rating mb-16pt d-inline-flex">
                <div class="rating__item"><i class="material-icons">star</i></div>
                <div class="rating__item"><i class="material-icons">star</i></div>
                <div class="rating__item"><i class="material-icons">star</i></div>
                <div class="rating__item"><i class="material-icons">star</i></div>
                <div class="rating__item"><i class="material-icons">star_border</i></div>
                <span class="ml-1 text-white">4,3</span>
            </div>

        </div>
        <a asp-controller="Student" asp-action="Edit"
           class="btn btn-outline-white">Editar</a>
    </div>
</div>

<div class="container page__container page-section">

    <div class="page-headline text-center">
        <h2>Temas Frecuentes</h2>
    </div>

    <div class="row card-group-row mb-8pt">

        <div class="col-sm-6 card-group-row__col">
            <div class="card card-sm card-group-row__card">
                <div class="card-body d-flex align-items-center">
                    <div class="flex">
                        <a class="card-title mb-4pt"
                           href="course.html">Funciones Cuádraticas</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 card-group-row__col">
            <div class="card card-sm card-group-row__card">
                <div class="card-body d-flex align-items-center">
                    <div class="flex">
                        <a class="card-title mb-4pt"
                           href="course.html">Funcionales Lineales</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 card-group-row__col">
            <div class="card card-sm card-group-row__card">
                <div class="card-body d-flex align-items-center">
                    <div class="flex">
                        <a class="card-title mb-4pt"
                           href="">Funciones Trigonometricas</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 card-group-row__col">
            <div class="card card-sm card-group-row__card">
                <div class="card-body d-flex align-items-center">
                    <div class="flex">
                        <a class="card-title mb-4pt"
                           href="course.html">Límites</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>