@{
    ViewData["Title"] = "Detalles";
    Layout = "_Admin";
}
<div class="page-separator">
    <div class="page-separator__text">user2</div>
</div>
<div class="card js-overlay card-sm overlay--primary-dodger-blue stack stack--1">
    <div class="card-body d-flex flex-column">
        <div class="d-flex align-items-center">
            <div class="flex">
                <p><strong>Identificación: </strong>306640235</p>
                <p><strong>Usuario: </strong>user2</p>
                <p><strong>Nombre: </strong>Usuario2</p>
                <p><strong>Apellidos: </strong>Usuario2 Usuario2</p>
                <p><strong>Correo electrónico: </strong>usuario@usuario.com</p>
            </div>
        </div>
        <div class="row">
            <div class="col-auto">
                <a class="btn btn-outline-secondary" asp-controller="Users" asp-action="Index">Volver</a>
            </div>
        </div>
    </div>
</div>