body {
    margin: 0;
    background-color: #cccccc;
}

table {
    border-spacing: 0;
}

td {
    padding: 0;
}

img {
    border: 0;
}

.wrapper {
    width: 100%;
    table-layout: fixed;
    background-color: #cccccc;
    padding-bottom: 60px;
}

.main {
    background-color: #ffffff;
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    border-spacing: 0;
    font-family: sans-serif;
    color: #192943;
}

.two-columns {
    text-align: center;
    font-size: 0;
}

    .two-columns .column {
        width: 100%;
        max-width: 300px;
        display: inline-block;
        vertical-align: top;
        text-align: center;
    }

.button {
    background-color: #087a90;
    color: #ffffff;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 10px;
    font-weight: bold;
}

.button-light {
    background-color: #ffffff;
    color: #087a90;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 10px;
    font-weight: bold;
}

.two-columns .last {
    padding: 15px;
}


.two-columns .padding {
    padding: 20px;
}

.two-columns .content {
    font-size: 15px;
    line-height: 20px;
    text-align: left;
}
